<% var sizeSelect = 5 %>
<form method="post" action="">
	<fieldset>
		<legend>
			Añadir al <%= group.name %> (<%= group.getArrowed %>) los alumn@s...</legend>
		<fieldset>
			<legend> Seleccione l@s estudiantes para asignar al Grupo</legend>
			<% if(students.length == 0){ %>
			<label>No hay alumnos con las características buscadas.</label><br>
			<% }else{ %>
			<label for="stSelected">Utilize la tecla Ctrl para seleccionar varios</label><br>
			<select name="stSelected" size="<%= sizeSelect %>" multiple required>
				<% for(var i = 0; i < students.length; i++) { %>
				<option value="<%= students[i].id %>"><%= students[i].username %></option>
				<% } %>
			</select>
			<% } %>
		</fieldset>
		<% include ../includes/_buttons.ejs %>
	</fieldset>
</form>