<% var sizeSelect = 5 %>
<form method="post" action="/translation/new">
	<fieldset>
		<legend>Crear traducción nueva</legend>
		<p>
			<label for="word1">ORIGEN "<%= origenLang %>":</label><br>
			<select name="word1" size="<%= sizeSelect %>" required>
				<% for(var i = 0; i < wordsOrigen.length; i++) { %>
				<option value="<%= wordsOrigen[i].id %>"><%= wordsOrigen[i].word %> (<%= wordsOrigen[i].aception %>)
				</option>
				<% } %>
			</select>
		<p>
			<label for="word2">DESTINO "<%= destinoLang %>":</label><br>
			<select name="word2" size="<%= sizeSelect %>" required>
				<% for(var i = 0; i < wordsDestino.length; i++) { %>
				<option value="<%= wordsDestino[i].id %>"><%= wordsDestino[i].word %> (<%= wordsDestino[i].aception %>)
				</option>
				<% } %>
			</select>
		<p>
			<% include ../includes/_buttons.ejs %>
	</fieldset>
</form>