<% var sizeSelect = 5 %>
<form method="post" action="/translation/new">
	<fieldset>
		<legend><p>Crear traducción nueva</p></legend>
		<p>
			<label for="word1">ORIGEN "<%= wordsOrigen[0].langue %>":</label><br>
			<select name="word1" size="<%= sizeSelect %>" required>
				<% for(var i = 0; i < wordsOrigen.length; i++) { %>
				<option value="<%= wordsOrigen[i].id %>"><%= wordsOrigen[i].word %> (<%= wordsOrigen[i].aception %>)
				</option>
				<% } %>
			</select>
		<p>
			<label for="word2">DESTINO "<%= wordsDestino[0].langue %>":</label><br>
			<select name="word2" size="<%= sizeSelect %>" required>
				<% for(var i = 0; i < wordsDestino.length; i++) { %>
				<option value="<%= wordsDestino[i].id %>"><%= wordsDestino[i].word %> (<%= wordsDestino[i].aception %>)
				</option>
				<% } %>
			</select>
		<p>
			<a href="<%= session ? session.redir : '/' %>">
				<button type="button">Volver</button>
			</a>
			<input type="submit" value="Enviar">
	</fieldset>
</form>