<% var isAdmin = session.user.isAdmin %>
<a href="/word/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"/></span> Añadir Word</a>
<br>
<br>
<form enctype="multipart/form-data" action="/word/upload" method="post">
	<div class="form-group">
		<label for="wordLot">Cargar LOTE de Words</label>
		<input type="file" name="wordLot" accept=".csv" required>
		<p class="help-block">Seleccione un fichero .CSV válido.</p>
	</div>
	<button type="submit" class="btn btn-info">Enviar</button>
</form>
<br>
<br>
<table class="table table-striped table-hover table-condensed">
	<thead>
	<tr>
		<th colspan="4">Words (<%= words.length %>)</th>
	</tr>
	<tr>
		<th>Langue</th>
		<th>Word</th>
		<th>Aception</th>
		<% if(isAdmin){ %>
		<th>Editar</th>
		<% } %>
	</tr>
	</thead>
	<% for(var i = 0; i < words.length; i++) { %>
	<tr>
		<td>
			<%= words[i].langue %>
		</td>
		<td>
			<%= words[i].word %>
		</td>
		<td>
			<%= words[i].aception %>
		</td>
		<% if(isAdmin){ %>
		<td>
			<form method="post" action="/word/<%= words[i].id %>?_method=delete">
				<button type="submit" class="btn btn-xs btn-danger"
				        onClick="return confirm('ATENCIÓN!!! Se va a proceder al borrado de esta PALABRA.\n' +
				         'Solo los Administradores de la WebApp pueden realizar esta acción.\n' +
				          'El borrado de una palabra que esté contenida en una traducción acarreará un borrado en Cascada.');">
					<span class="glyphicon glyphicon-trash"></span>&nbsp;
				</button>
			</form>
		</td>
		<% } %>
	</tr>
	<% } %>
</table>
<br>