<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PFC-Vocabula</title>
	<% if(hostname == "localhost:3000"){ %>
	<meta http-equiv='refresh' content='<%= refreshTimer %>'/>
	<% } %>
	<link rel='stylesheet' href='/css/style.css'/>
	<link rel='stylesheet' href='/css/bootstrap.min.css'/>
</head>
<body>
<% var isLogged = typeof(session.user) != "undefined"; %>

<div id="page-wrap">
	<header class="main" id="h1">
		<% if(!isLogged){ %>
		<span class="right"><a href="/user/new">Registrarse</a> - <a href="/user/login">Login</a></span>
		<% }else{ %>
		<span class="right"><%= session.user.username %>
			- <a href="/user/<%= session.user.username %>/edit">Editar</a>
			- <a href="/user/logout">Salir</a></span>
		<% } %>
		<% if(!session.user){ %>
		<h2>Bienvenid@ a <span>PFC-Vocabula</span></h2>
		<% } %>
	</header>

	<nav class="main" id="n1" role="navigation">
		<h4><span><a href="/">Inicio</a></span>
			<% if(session.user){ %>
			<span><a href="/user/<%= session.user.username %>">Perfil</a></span>
			<% } %>
		</h4>
	</nav>

	<section class="main" id="s1">
		<% if (errors.length) { %>
		<span id='ErrorMsgs'>
        Corregir errores:<br/>
			<% for (var i in errors) { %>
			<span> <%= errors[i].message %> </span><br/>
			<% } %>
		</span>
		<% } %>

		<div><%- body %></div>
	</section>

	<footer class="main" id="f1">
		<br><br>
		<a href="http://es.wikipedia.org/wiki/Node.js">Acerca de...</a>
	</footer>
</div>
</body>
</html>
