<% var isUser = typeof(user) != "undefined"; %>
<% var isLogged = typeof(session.user) != "undefined"; %>
<% var isAdmin = isLogged && session.user.isAdmin %>
<% var isNotAdmin = isLogged && !session.user.isAdmin %>
<% var isUserAdmin = isUser && user.isAdmin %>
<p>
	<label for="email">E-Mail:</label>
	<input type="text" id="email" name="email" placeholder="anonimo@ejemplo.com"
	       value="<%= isUser ? user.email : '' %>" required/>
<p>
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" placeholder="usuario"
	       value="<%= isUser ? user.username : '' %>" <%= isNotAdmin || isUserAdmin ? 'readonly' : '' %> required/>
<p>
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" placeholder="**********"
	       value="<%= isUser && isAdmin ? user.password : '' %>" required/>
<p>
	<% if (!isUser) { %>
	<label for="isTeacher">Relación:</label>
	<input type="radio" name="isTeacher" value="true" required> Profesor
	<input type="radio" name="isTeacher" value="false" required> Alumno
	<% } %>
<p>
	<% if (!isUserAdmin) { %>
	<label for="firstName">Nombre:</label>
	<input type="text" id="firstName" name="firstName" placeholder="Pepito"
	       value="<%= isUser ? user.firstName : '' %>"/>
<p>
	<label for="lastName">Apellido:</label>
	<input type="text" id="lastName" name="lastName" placeholder="Pérez"
	       value="<%= isUser ? user.lastName : '' %>"/>
<p>
	<label for="motherLang">Mother Lang:</label>
	<select name="motherLang">
		<option value="">-</option>
		<option value="ES" <%= isUser && user.motherLang === "ES" ? 'selected' : '' %>>Español
		</option>
		<option value="EN" <%= isUser && user.motherLang === "EN" ? 'selected' : '' %>>Inglés
		</option>
		<option value="FR" <%= isUser && user.motherLang === "FR" ? 'selected' : '' %>>Francés
		</option>
	</select>
<p>
	<label for="foreignLang">Foreign Lang:</label>
	<select name="foreignLang">
		<option value="">-</option>
		<option value="ES" <%= isUser && user.foreignLang === "ES" ? 'selected' : '' %>>
			Español
		</option>
		<option value="EN" <%= isUser && user.foreignLang === "EN" ? 'selected' : '' %>>
			Inglés
		</option>
		<option value="FR" <%= isUser && user.foreignLang === "FR" ? 'selected' : '' %>>
			Francés
		</option>
	</select>
<p>
	<% } %>
	<a href="<%= session ? session.redir : '/' %>">
		<button type="button">Volver</button>
	</a>
	<input type="submit" value="Enviar">