<% var sizeSelect = 5 %>
<% var s = " &#x279c; " %>
<form method="post" action="/pack/new">
	<fieldset>
		<legend>Crear un paquete nuevo</legend>
		<p>
			<br>
			<label for="title">Título*:</label>
			<input type="text" id="title" name="title" placeholder="Paquete alumnos Inglés 1..." required/>
			<br>
			<label for="description">Descripción:</label>
			<input type="text" id="description" name="description" placeholder="Descripción"/>
			<br>
		</p>
		<fieldset>
			<legend>Seleccione el/los ejercicio/s para el nuevo PACK (Use la tecla Ctrl)</legend>
			<label for="exSelected"><%= destinoLang %><%- s %><%= origenLang %>
				& <%= origenLang %><%- s %><%= destinoLang %>:</label><br>
			<select name="exSelected" size="<%= sizeSelect %>" multiple required>
				<% for(var i = 0; i < exercises.length; i++) { %>
				<option value="<%= exercises[i].id %>">
					[<%= exercises[i].get('typeEx') %>]
					[<%= exercises[i].qstnLang %><%- s %>???]
					<%= exercises[i].Translation.Word1.word %> (<%= exercises[i].Translation.Word1.aception %>)
					<%- s %>
					<%= exercises[i].Translation.Word2.word %> (<%= exercises[i].Translation.Word2.aception %>)
				</option>
				<% } %>
			</select>
		</fieldset>
		<% include ../includes/_buttons.ejs %>
	</fieldset>
</form>