<br>
<br>
<table class="table table-striped table-hover table-condensed">
	<thead>
	<tr>
		<th colspan="6">Answers Extra to the main Exercise</th>
	</tr>
	<tr>
		<th>Langue Question</th>
		<th>Ex Type</th>
		<th>Word Question</th>
		<th>Word Answer</th>
		<th>Author</th>
	</tr>
	</thead>
	<tr>
		<td>
			<%= exercise.qstnLang %>
		</td>
		<td>
			<%= exercise.typeEx %>
		</td>
		<td>
			<% if(exercise.qstnLang == exercise.Translation.Word1.langue){ %>
			[<%= exercise.Translation.Word1.langue %>] <%= exercise.Translation.Word1.word %>
			(<%= exercise.Translation.Word1.aception %>)
		</td>
		<td>
			[<%= exercise.Translation.Word2.langue %>] <%= exercise.Translation.Word2.word %>
			(<%= exercise.Translation.Word2.aception %>)
			<% }else{ %>
			[<%= exercise.Translation.Word2.langue %>] <%= exercise.Translation.Word2.word %>
			(<%= exercise.Translation.Word2.aception %>)
		</td>
		<td>
			[<%= exercise.Translation.Word1.langue %>] <%= exercise.Translation.Word1.word %>
			(<%= exercise.Translation.Word1.aception %>)
			<% } %>
		</td>
		<td>
			<%= exercise.User.username %>
		</td>
	</tr>
	<% for(var i = 0; i < extra.length; i++) { %>
	<tr>
		<td></td>
		<td></td>
		<td>
			<% if(exercise.qstnLang == extra[i].Translation.Word1.langue){ %>
			<% if(exercise.typeEx == "Relation"){ %>
			[<%= extra[i].Translation.Word1.langue %>] <%= extra[i].Translation.Word1.word %>
			(<%= extra[i].Translation.Word1.aception %>)
			<% } else { %>
			<% } %>
		</td>
		<td>
			[<%= extra[i].Translation.Word2.langue %>] <%= extra[i].Translation.Word2.word %>
			(<%= extra[i].Translation.Word2.aception %>)
			<% }else{ %>
			<% if(exercise.typeEx == "Relation"){ %>
			[<%= extra[i].Translation.Word2.langue %>] <%= extra[i].Translation.Word2.word %>
			(<%= extra[i].Translation.Word2.aception %>)
			<% } else { %>
			<% } %>
		</td>
		<td>
			[<%= extra[i].Translation.Word1.langue %>] <%= extra[i].Translation.Word1.word %>
			(<%= extra[i].Translation.Word1.aception %>)
			<% } %>
		</td>
		<td></td>
	</tr>
	<% } %>
</table>