<% var sizeSelect = 5 %>
<% var arrow2way = " &#x21c6; " %>
<form method="post" action="/exercise/new/extra/<%= type %>">
	<fieldset>
		<legend>Crear traducción nueva (2ª parte)</legend>
		<% if(qstnLang == origenLang){ %>
		Pregunta (<%= origenLang %>): ??? (<%= destinoLang %>)<br>
		<% } else { %>
		Pregunta (<%= destinoLang %>): ??? (<%= origenLang %>)<br>
		<% } %>
		<fieldset>
			<legend>Seleccione laS traduccionES EXTRAS para el ejercicio de Selección (Use la tecla Ctrl)</legend>
			<label for="extra"><%= origenLang %><%- arrow2way %><%= destinoLang %>:</label><br>
			<select name="extra" size="<%= sizeSelect %>" multiple required>
				<% for(var i = 0; i < translations.length; i++) { %>
				<option value="<%= translations[i].id %>">
					<%= translations[i].getArrowed %>
				</option>
				<% } %>
			</select>
		</fieldset>
		<input type="hidden" name="type" value="<%= type %>">
		<input type="hidden" name="translation" value="<%= TranslationId %>">
		<input type="hidden" name="question" value="<%= qstnLang %>">
		<input type="hidden" name="origen" value="<%= origenLang %>">
		<input type="hidden" name="destino" value="<%= destinoLang %>">
		<% include ../includes/_buttons.ejs %>
	</fieldset>
</form>