<% var sizeSelect = 5 %>
<% var s = " &#x279c; " %>
<form method="post" action="/exercise/new">
	<fieldset>
		<legend>Crear traducción nueva</legend>
		<% include _question.ejs %>
		<fieldset>
			<legend>Elija UNA traducción</legend>
			<label for="translation"><%= destinoLang %><%- s %><%= origenLang %>
				& <%= origenLang %><%- s %><%= destinoLang %>:</label><br>
			<select name="translation" size="<%= sizeSelect %>" required>
				<% for(var i = 0; i < translations.length; i++) { %>
				<option value="<%= translations[i].id %>">
					<%= translations[i].Word1.word %> (<%= translations[i].Word1.aception %>)
					<%- s %>
					<%= translations[i].Word2.word %> (<%= translations[i].Word2.aception %>)
				</option>
				<% } %>
			</select>
		</fieldset>
		<% if(!(type == '1' | type == '2')) { %>
		<fieldset>
			<legend>Seleccione la/s traduccion/es Extra/s para el ejercicio (Use la tecla Ctrl)</legend>
			<label for="extra"><%= destinoLang %><%- s %><%= origenLang %>
				& <%= origenLang %><%- s %><%= destinoLang %>:</label><br>
			<select name="extra" size="<%= sizeSelect %>" multiple required>
				<% for(var i = 0; i < translations.length; i++) { %>
				<option value="<%= translations[i].id %>">
					<%= translations[i].Word1.word %> (<%= translations[i].Word1.aception %>)
					<%- s %>
					<%= translations[i].Word2.word %> (<%= translations[i].Word2.aception %>)
				</option>
				<% } %>
			</select>
		</fieldset>
		<% } %>
		<input type="hidden" name="type" value="<%= type %>">
		<% include ../includes/_buttons.ejs %>
	</fieldset>
</form>